{:paths ["src" "resources"]
 :deps {;; for the web demo
        http-kit/http-kit {:mvn/version "2.8.0"}
        ring/ring {:mvn/version "1.13.0"}
        compojure/compojure {:mvn/version "1.7.1"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.994"}
        com.h2database/h2 {:mvn/version "2.2.224"}

        ;; async plugin demo
        org.clojure/core.async {:git/sha "7cc715ac25b4a0f232a7fe1049f90f14ef10fd96" :git/url "https://github.com/clojure/core.async"}

        ;; clojure script compiler demos
        org.clojure/clojurescript {:local/root "/home/jmonetta/my-projects/clojurescript/origin-master"}}

 :aliases {:dev {:jvm-opts ["-Dvisualvm.display.name=BigDemo"]}}}
